<div id="<%= dom_id maintenance %>">
  <p>
    <strong>Tipo:</strong>
    <%= maintenance.tipo %>
  </p>

  <p>
    <strong>Ciudad:</strong>
    <%= maintenance.ciudad.nombre %>
  </p>
  <p>
    <strong>Material:</strong>
    <%= maintenance.material.nombre %>
  </p>

</div>
